<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>講師リスト</title>
</head>

<body>
  <h1>講師リスト</h1>
  <p>
      <ul id="nav">
          <li><a th:href="@{/{uid}/top(uid=${user.uid})}">戻る</a></li>
          <li><a th:href="@{/}">ログアウト</a></li>
      </ul>
  </p>
  <h2>講師</h2>
    <table border="1" class="table">
        <tr>
            <th>#</th>
            <th>名前</th>
            <th>予約</th>
        </tr>
        <tr th:each="teacher: ${teachers}">
            <td>[[${teacher.uid}]]</td>
            <td>[[${teacher.name}]]</td>
            <td><a th:href="@{/{uid}/teachers/{uid}/shift(uid=${user.uid},uid=${teacher.uid})}">予約</a></td>
        </tr>
    </table>
</body>

</html>